Django==1.11
Pillow==5.1.0
chardet==2.2.1
colorama==0.2.5
disqus==0.0.4
django-forms-bootstrap==3.1.0
html5lib==0.999
gunicorn==19.9.0
pytz==2018.4
requests==2.2.1
six==1.5.2
stripe==1.82.1
urllib3==1.7.1
virtualenv==16.1.0
wheel==0.38.1
