.center {
    display: block;
}
.about-paragraph {
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
.about-us {
    background-color: #e5e7ea;
}
.box {
    width: 960px;
    height: 100%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}