{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}

<div class="row row-flex productBack">
    {% for item in cart_items %}
    <div class="col-sm-offset-0 col-lg-4 display panel">
        <div class="panel-body">
            <!--<div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>-->
            
            <div class="caption">
                <h3>{{ item.product.name }}</h3>
                <!--<p class="product-description">{{ item.product.description }}</p>-->
                <p>Qty: {{ item.quantity }}</p>
                <p><i class="glyphicon glyphicon-euro"></i>{{ item.product.price }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row productBack total">
    <p>Total</p>
    <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
</div>
<div class="line"></div>
<div class="line2"></div>
<div class="line3"></div>
<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <h3>Please enter you payment details below.</h3>
    
    <legend>Payment Details</legend>
    <div id="credit-card-errors" style="display:none">
        <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>
    
    <div class="form-group col-md-6">
        {{ order_form|as_bootstrap }}
    </div>
    
    <div class="form-group col-md-6">
        {{ payment_form|as_bootstrap }}
    </div>
    
    {% csrf_token %}
    <div class="form-group col-md-12">
        <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
        <div class="danger">
            <p><strong>Warning!</strong>Please do not submit any real payment details!!!</p>
        </div>
    </div>
</form>
<style>
    .line {
        width: 100%;
        border-bottom: 5px solid black;
        position: absolute;
    }
    .line2 {
        margin-top: 8px;
        width: 100%;
        border-bottom: 5px solid #612092;
    }
    .line3 {
        margin-top: 3px;
        width: 100%;
        border-bottom: 5px solid #42bddb;
    }
    
    .danger {
        margin-top: 5px;
        margin-bottom:15px;
        padding: 4px 12px;
        background-color: #F5B7B1;
        border-left: 6px solid #E74C3C;
        font-size: 18px;
    }
    form {
        width: 600px;
        margin-bottom: 54%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8%;
    }
    .bg-primary {
        margin: 10px;
        padding: 5px;
        border: 1px solid;
        background-color: #D6DBDF;
    }
    .productBack {
        background-color: white;
    }
</style>
{% endblock %}