{% extends "blog/blogbase.html" %}
{% load staticfiles %}

{% block blogtitle %}
    <!-- Blog Post Title -->
    <div class="Blogpost-img blogpostpage-img blogpostpage-img2" {% if post.image %}
         style="background: url('/media/{{ post.image }}')" {% endif %}>
        <h2>{{ post.title }}</h2>
    </div>
{% endblock %}


{% block blogcontent %}
    <!-- Blog Post Content with disqus comments -->
    <div class="news-info blogpostpage-img">{{ post.published_date }} |
        <b>Views</b> {{ post.views }} | <b>Tag</b> {{ post.tag }} | <b><a href="/blog">Back to Blog</a></b></div>

    <div class="content">
        <h2 class="title-blog-post">{{ post.title }}</h2>
        <p>{{ post.content|linebreaks }}</p>

        
    </div>

    <!-- Back to Blogs List Button -->
    <!--<a class="read-moreblog btn btn-primary" href="/blog">Back</a>-->
    
    <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://nurse247.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}