{% extends 'base.html' %}

{% block content %}

<div class="image-aboutus-banner"style="margin-top:-50px">
   <div class="container">
    <div class="row about">
        <div class="col-md-12">
         <h1 class="lg-text">About Us</h1>
         <p class="image-aboutus-para">We care about you.</p>
       </div>
    </div>
</div>
</div>

<div class="aboutus-secktion paddingTB60">
    <div class="container">
        <div class="row otherAbout">
                	<div class="col-md-6">
                    	<h1 class="strong">Who we are and<br>what we do</h1>
                        <p class="lead"></p>
                    </div>
                    <div class="col-md-6">
                    	<p>The experience and knowledge of our team enables us to 
                    	really understand our clients changing needs and enhance our 
                    	reputation based on our ability to deliver responsive, reliable 
                    	and people centred services to both individuals and organisations.</p>
                        <p>Our ‘people-first’ approach is at the heart of our values, 
                        and an experienced member of staff is available 24 hours a day, 
                        seven days a week to ensure your needs are covered.</p>
                    </div>
</div>
    </div>
</div>

<div class="container team-sektion paddingTB60">
	<div class="row values">
		<!--<img src="../media/img/12.png"></img>-->
		<div class="site-heading text-center">
						<h3>Our Values</h3>
						<p>We put much or our success down to rigorous quality and 
						safeguarding standards, robust internal training and development 
						programmes, and a commitment to providing a quality service to 
						both our staff and clients.</p>
						<div class="border"></div>
					</div>
	</div>
	<div class="row otherAbout cards">
		<div class="col-md-4 team-box">
		    <div class="team-img thumbnail">
		        <img src="https://images.pexels.com/photos/905874/pexels-photo-905874.jpeg?cs=srgb&dl=arms-care-check-905874.jpg&fm=jpg" width="248px" height="164px">
		    <div class="team-content">    
		        <h3>Partnership</h3>
		        <div class="border-team"></div>
		        <p>You work in partnership when you
				involve the individual and their family
				and work alongside other workers. The
				key to a successful partnership is good
				communication and trust; valuing and
				respecting what others have to say. </p>
		        
		    </div>
		</div>
	</div>
	    <div class="col-md-4 team-box">
		    <div class="team-img thumbnail">
		        <img src="../media/img/8.jpg" width="248px" height="147px">
		    <div class="team-content">    
		        <h3>Dignity</h3>
		        <div class="border-team"></div>
		        <p>Treating somebody in
				a dignified way means to treat
				someone with respect, valuing their
				individuality and their ethical and
				moral beliefs. In order to provide
				dignified care you need to have an
				open and positive attitude. </p>
		        
		    </div>
		</div>
	</div>
	    <div class="col-md-4 team-box">
		    <div class="team-img thumbnail">
		        <img src="../media/img/9.jpg" width="248px" height="147px">
		    <div class="team-content">    
		        <h3>Respect</h3>
		        <div class="border-team"></div>
		        <p>Respecting someone means believing
				and showing that they have importance
				as an individual. It means that they
				have their own opinions and feelings
				and that even though you may not
				agree with them, you do respect them.</p>
		        
		    </div>
		</div>
	</div>
	    
</div>
</div>


{% endblock %}